<h1 style="text-align: center;">Hangman</h1>
<div style="display: flex; flex-direction: row; justify-content: space-around;">
  <div sty>
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>
  <div style="width: 300px;">
    <%= render "_status.html", tally: @tally, conn: @conn %>  
  </div>
</div>
