<div style="text-align: center;">
  <h1>Hangman</h1>
  <%= game_state(@tally.game_state) %>
</div>
<div style="display: flex; flex-direction: row; justify-content: space-around;">
  <div>
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>
  <div style="width: 300px;">
    <%= render "_status.html", tally: @tally, conn: @conn %>  
  </div>
</div>
